<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Luck Be a Lady</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
 
    {{{body}}}
 
</body>
</html>